<template>
    <div>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Student Management System</a>
        </nav>
        <div class="row">
            <sidenav></sidenav>
            <!-- <router-view></router-view> -->
        </div>
    </div>
</template>

<script>

import sidenav from './partials/sidenav'
import studentlist from './partials/studentlist'



    export default {
        components: { sidenav, studentlist },
        mounted() {
    
        }
    }
</script>
