<template>
<div>
<table class="table col-md-8" v-for="student in students">
  <thead>
    <tr>
      <th scope="col">Group ID</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ student.group_id}}</th>
      <td>{{ student.first_name }}</td>
      <td>{{ student.last_name }}</td>
    </tr>
  </tbody>
</table>
</div>
</template>

<script>

    export default {

    data() {
        return {
          students: [],
          }
       },

      mounted() {
          var self = this;
          axios.get('/api/students')
          .then(function (response) {
          self.students = response.data.data;
          })
          .catch(function (error) {
            console.log(error);
          });
        }
    }
</script>
