<template>
<div>
<table class="table col-md-8" v-for="teacher in teachers">
  <thead>
    <tr>
      <th scope="col">Group ID</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>{{ teacher.first_name }}</td>
      <td>{{ teacher.last_name }}</td>
    </tr>
  </tbody>
</table>
</div>
</template>

<script>

    export default {

    data() {
        return {
          teachers: [],
          }
       },

      mounted() {
          var self = this;
          axios.get('/api/teachers')
          .then(function (response) {
          self.teachers = response.data.data;
          })
          .catch(function (error) {
            console.log(error);
          });
        }
    }
</script>
